<header>
  <div class="wrapper">
    <nav>
      <a href="/" class="logo">James Rutter</a>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
